body {
    background-color: lightpink;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
   /* chasekeir.github.io/ThirdPage */
   li:hover {background: red;
    color: #FF00FF;
              }